.aboutme .div {
  padding-top: "65px";
}
.maincontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
  /* background-color: lightgrey; */
  /* background-color: var(--background-color); */
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 50px;
}
.item1 {
  order: 0;
}
.item2 {
  order: 1;
}
.nameaboutme {
  font-size: 40px;
  font-weight: bold;
}
.descriptionaboutme {
  margin-top: 15px;
}
.img-profile {
  width: 300px;
  height: auto;
}

#aboutme {
  height: 100vh;
  background: #efeeea;
  padding: 5%;
}
@media screen and (max-width: 940px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    gap: 50px;
  }
  .item1 {
    order: 1;
  }
  .item2 {
    order: 0;
    margin-top: 50px;
  }
}
@media screen and (max-width: 375px) {
  #aboutme {
    height: auto;

    background: #efeeea;
    padding: 100px 5% 5% 5%;
  }
  .maincontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: auto;
    padding: 0 1rem;
    /* background-color: lightgrey; */
    /* background-color: var(--background-color); */
  }
}
