.maincontainer-education {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 40px;
}
.container-education {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 50px;
  padding: 5% 10%;
}

#education {
  height: 100vh;
  background: var(--green1-color);
  padding: 5%;
}

.headereducation {
  padding: 20px 0 0 0;
  font-size: 80px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}
.education-text {
  color: var(--green3-color);
}

.education-text:hover {
  border-bottom: 5px solid var(--background-color);
}
.papereducation-1 {
  min-height: 250px;
  display: flex;
}
.papereducation-2 {
  min-height: 250px;
  display: flex;
}
.textmu {
  font-size: 22px;
  margin-left: 80px;
  padding: 30px;
  line-height: 150%;
}
.textskwk {
  font-size: 22px;
  line-height: 150%;
  margin-right: 80px;
  margin-left: 50px;
  padding: 30px;
  flex-grow: 1;
}

.imgeducation {
  width: auto;
  height: 260px;
  margin: -20px;
  padding: 15px;
  background-image: linear-gradient(
      to left,
      transparent 200px,
      var(--background-color) 200px
    ),
    linear-gradient(to bottom, transparent 200px, var(--background-color) 200px),
    linear-gradient(to right, transparent 200px, var(--background-color) 200px),
    linear-gradient(to top, transparent 200px, var(--background-color) 200px);
  background-position: 100% 0, 100% 0, 0 100%, 0 100%;
  background-size: 100% 4px, 4px 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .imgeducation {
    width: auto;
    height: 180px;
    background-image: linear-gradient(
        to left,
        transparent 200px,
        var(--background-color) 200px
      ),
      linear-gradient(
        to bottom,
        transparent 100px,
        var(--background-color) 100px
      ),
      linear-gradient(
        to right,
        transparent 200px,
        var(--background-color) 200px
      ),
      linear-gradient(to top, transparent 100px, var(--background-color) 100px);
    background-position: 100% 0, 100% 0, 0 100%, 0 100%;
    background-size: 100% 4px, 4px 100%;
    background-repeat: no-repeat;
  }
  .papereducation-1 {
    min-height: 200px;
  }
  .papereducation-2 {
    min-height: 200px;
  }
}
@media screen and (max-width: 880px) {
  .maincontainer-education {
    max-width: 1240px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 40px;
    margin-bottom: 20px;
  }
  .container-education {
    padding: 0;
  }
  #education {
    height: auto;
    background: var(--green1-color);
    padding: 5%;
  }
  .papereducation-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    min-height: 250px;
  }
  .papereducation-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    min-height: 250px;
  }
  .textmu {
    margin-left: 5px;
    padding: 10px;
    order: 1;
    margin-top: 15px;
  }
  .textskwk {
    margin-left: 5px;
    padding: 10px;
    order: 1;
    margin-top: 15px;
    width: 100%;
  }
  .headereducation {
    padding: 20px 0 0 0;
    font-size: 60px;
    font-weight: bold;
    align-self: center;
    text-align: center;
  }

  .education-text:hover {
    border-bottom: 10px solid var(--orange2-color);
  }
  .imgeducation {
    margin: 0;
    align-self: center;
    width: 100%;
    height: auto;
    background-image: linear-gradient(
        to left,
        transparent 200px,
        var(--background-color) 200px
      ),
      linear-gradient(
        to bottom,
        transparent 200px,
        var(--background-color) 200px
      ),
      linear-gradient(
        to right,
        transparent 200px,
        var(--background-color) 200px
      ),
      linear-gradient(to top, transparent 200px, var(--background-color) 200px);
    background-position: 100% 0, 100% 0, 0 100%, 0 100%;
    background-size: 100% 4px, 4px 100%;
    background-repeat: no-repeat;
  }
}
