.maincontainer-education {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 40px;
}
.container-education {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 70px;
  padding: 5% 10%;
}

#education {
  height: 100vh;
  background: var(--green1-color);
  padding: 5%;
}

.headereducation {
  padding: 20px 0 0 0;
  font-size: 80px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.education-text:hover {
  border-bottom: 5px solid var(--orange2-color);
}
.papereducation-1 {
  min-height: 250px;
  display: flex;
}
.papereducation-2 {
  min-height: 250px;
  display: flex;
}
.textmu {
  margin-left: 80px;
  padding: 30px;
}
.textskwk {
  margin-right: 80px;
  margin-left: 50px;
  padding: 30px;
  flex-grow: 1;
}

.imgeducation {
  width: auto;
  height: 250px;
  margin: -20px;
}

@media screen and (max-width: 1200px) {
  .imgeducation {
    width: auto;
    height: 180px;
  }
  .papereducation-1 {
    min-height: 200px;
  }
  .papereducation-2 {
    min-height: 200px;
  }
}
@media screen and (max-width: 880px) {
  .maincontainer-education {
    max-width: 1240px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 40px;
    /* background-color: bisque; */
  }
  .container-education {
    padding: 0;
    /* background-color: salmon; */
  }
  #education {
    height: auto;
    background: var(--green1-color);
    padding: 5%;
  }
  .papereducation-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    /* background-color: var(--background-color); */
    min-height: 250px;

    /* border-radius: 20px; */
    /* box-shadow: -0.8px -0.8px 3.3px rgba(0, 0, 0, 0.032),
      6.3px 6.2px 10.1px rgba(0, 0, 0, 0.048),
      69px 67px 62px rgba(0, 0, 0, 0.08); */
  }
  .papereducation-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    /* background-color: var(--background-color); */
    min-height: 250px;
    /* border-radius: 20px; */
    /* box-shadow: -0.8px -0.8px 3.3px rgba(0, 0, 0, 0.032),
      6.3px 6.2px 10.1px rgba(0, 0, 0, 0.048),
      69px 67px 62px rgba(0, 0, 0, 0.08); */
  }
  .textmu {
    margin-left: 5px;
    padding: 10px;
    order: 1;
    margin-top: 15px;
  }
  .textskwk {
    margin-left: 5px;
    padding: 10px;
    order: 1;
    margin-top: 15px;
    width: 100%;
  }
  .headereducation {
    padding: 20px 0 0 0;
    font-size: 60px;
    font-weight: bold;
    align-self: center;
    text-align: center;
  }
  .education-text:hover {
    border-bottom: 10px solid var(--orange2-color);
  }
  .imgeducation {
    margin: 0;
    align-self: center;
    width: 100%;
    height: auto;
  }
}
