.maincontainer-hobbies {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
  /* flex-wrap: wrap; */
  /* background-color: bisque; */
  gap: 10px;
  min-width: 0;
}
.maincontainer-hobbies::-webkit-scrollbar {
  width: 0;
}
#hobbies {
  background: var(--background-color);
  padding: 3%;
  /* height: 100vh; */
}
.hobbies-header {
  max-width: 1240px;
  margin: auto;
  display: flex;
  padding: 50px;
  font-size: 50px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 40px;
}
.item-hobbies {
  background-color: var(--background-color);
  min-height: 125px;
  min-width: 125px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 940px) {
  .maincontainer-hobbies {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: auto;
    min-width: 0;
  }
}
/* @media screen and (max-width: 420px) {
  .container-contact-right {
    min-width: 320px;
  }
} */
