.maincontainer-skills {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: nowrap;
  /* gap: 40px; */
  /* background-color: bisque; */
}
.container-skills-web {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
  padding: 3% 5% 5% 5%;
  overflow-x: auto;
  /* background-color: salmon; */
}
.container-skills-other {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  padding: 5% 20%;
  background-color: var(--green1-color);
  border-radius: 20px;
  /* background-color: salmon; */
}

#skills {
  /* height: 100vh; */
  min-height: 100vh;
  background: var(--background-color);
  padding: 3%;
}

.header-skills-1 {
  padding: 10px;
  font-size: 35px;
  font-weight: bold;
  align-self: center;
}
.header-skills-2 {
  padding: 10px;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bold;
  align-self: center;
}
.card-skills {
  min-height: 400px;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  /* background-color: var(--green1-color); */
}
.header-text-skills {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.item-skills {
  background-color: var(--background-color);
  min-height: 125px;
  min-width: 125px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.center-text {
  /* align-self: center; */
  text-align: center;
}
.size-icon {
  /* align-self: center; */
  width: 40px;
  height: auto;
  margin-bottom: 5px;
}
.container-skills-web::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 940px) {
  .container-skills-web {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: auto;
    min-width: 0;
    gap: 40px;
  }
  .header-skills-2 {
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .container-skills-other {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 35px;
    padding: 5% 10%;
    overflow-x: auto;
  }
}
