.maincontainer-workex {
  max-width: 1240px;
  margin: auto;
  /* height: 100%; */
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
  /* background-color: bisque; */
}
#workex {
  /* height: 100vh; */
  background: var(--green1-color);
  padding: 5%;
}
.workex-img {
  max-width: 500px;
  height: auto;
}
.workex-header {
  font-weight: bolder;
  font-size: 40px;
}
.container-workex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 70px;
}
.descroption-workex {
  max-width: 400px;
}

@media screen and (max-width: 940px) {
  .workex-img {
    max-width: 100%;
    height: auto;
  }
  .descroption-workex {
    min-width: 90%;
  }
  .container-workex {
    gap: 40px;
  }
}
@media screen and (max-width: 375px) {
  .workex-img {
    max-width: 100%;
    height: auto;
  }
  .workex-header {
    font-size: 35px;
    margin-top: 10px;
  }
}
