.maincontainer-workex {
  max-width: 1240px;
  margin: auto;
  /* height: 100%; */
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
  /* background-color: bisque; */
}
#workex {
  /* height: 100vh; */
  background: var(--green1-color);
  padding: 5%;
}
.workex-img {
  width: auto;
  height: 300px;
  margin: -20px;
  padding: 15px;
  background-image: linear-gradient(
      to left,
      transparent 200px,
      var(--background-color) 200px
    ),
    linear-gradient(to bottom, transparent 200px, var(--background-color) 200px),
    linear-gradient(to right, transparent 200px, var(--background-color) 200px),
    linear-gradient(to top, transparent 200px, var(--background-color) 200px);
  background-position: 100% 0, 100% 0, 0 100%, 0 100%;
  background-size: 100% 4px, 4px 100%;
  background-repeat: no-repeat;
}
.workex-header {
  font-weight: bolder;
  color: var(--green3-color);
  font-size: 45px;
}
.container-workex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 70px;
}
.descroption-workex {
  font-size: 22px;
  max-width: 400px;
  padding-bottom: 20px;
  border-bottom: 4px solid var(--background-color);
}

@media screen and (max-width: 940px) {
  .workex-img {
    width: auto;
    height: 260px;
    margin: -20px;
    padding: 15px;
    background-image: linear-gradient(
        to left,
        transparent 200px,
        var(--background-color) 200px
      ),
      linear-gradient(
        to bottom,
        transparent 200px,
        var(--background-color) 200px
      ),
      linear-gradient(
        to right,
        transparent 200px,
        var(--background-color) 200px
      ),
      linear-gradient(to top, transparent 200px, var(--background-color) 200px);
    background-position: 100% 0, 100% 0, 0 100%, 0 100%;
    background-size: 100% 4px, 4px 100%;
    background-repeat: no-repeat;
  }
  .descroption-workex {
    min-width: 80%;
  }
  .container-workex {
    gap: 40px;
  }
}
@media screen and (max-width: 375px) {
  .workex-img {
    width: auto;
    height: 180px;
    background-image: linear-gradient(
        to left,
        transparent 200px,
        var(--background-color) 200px
      ),
      linear-gradient(
        to bottom,
        transparent 100px,
        var(--background-color) 100px
      ),
      linear-gradient(
        to right,
        transparent 200px,
        var(--background-color) 200px
      ),
      linear-gradient(to top, transparent 100px, var(--background-color) 100px);
    background-position: 100% 0, 100% 0, 0 100%, 0 100%;
    background-size: 100% 4px, 4px 100%;
    background-repeat: no-repeat;
  }
  .workex-header {
    font-size: 35px;
    margin-top: 10px;
  }
  .descroption-workex {
    max-width: 80%;
  }
}
