.maincontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
  background-color: grey;
  /* background-color: var(--background-color); */
}
