:root {
  --overlay: rgba(0, 0, 0, 0.7);
  --background-color: #efeeea;
  --green1-color: #d2dac3;
  --green2-color: #789174;
  --green3-color: #476040;
  --orange1-color: #ed8733;
  --orange2-color: #b55139;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* .section {
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
} */

.button {
  padding: 17px 28px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.4em;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 100vw;
  margin-block: 0.1em;
  margin-right: 0.6em;
  margin-left: 0.6em;
  padding: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ed8733;
  border-radius: 100vw;

  /* border: 0.25em solid #fff; */
}
::-webkit-scrollbar-thumb:hover {
  background: #789174;
  border-radius: 100vw;
}
